<div class="footer" style="height:200px;background-color: rgb(218, 222, 231); padding: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4>Address</h4>
                <address>Address: 54 Cineplex Centre, Scarborough, ON 
                    PostalCode: M1G1W1</address>
            </div>
            <div class="col-md-3">
                <h4>Address 2</h4>
                <address>Address: 5090 Cineplex Centre, Scarborough, ON 
                    PostalCode: M1G1W1</address>
            </div>
            <div class="col-md-3">
                <h4>Address 3</h4>
                <address>Address: 9090 Cineplex Centre, Scarborough, ON 
                    PostalCode: M1G1W1</address>
            </div>
            <div class="col-md-3">
                <h4>Social Media</h4>
                 Instragram: Cineplex.Me
                 Facebook: Cineplex@Me
            </div>
        </div>
    </div>
</div>


