<div class="footer" style="height:120px;background-color: rgb(218, 222, 231); padding: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4>Address</h4>
                <address>Address: 54 Cineplex Centre, Scarborough, ON 
                    PostalCode: M1G1W1</address>
            </div>
            <div class="col-md-3">
                <h4>Social Media</h4>
                <address>Address: 54 Cineplex Centre, Scarborough, ON 
                    PostalCode: M1G1W1</address>
            </div>
        </div>
    </div>
</div>


