<h1 class="text-white" style="text-align:center; text-justify: auto; height: 100px; background-color:rgb(89, 123, 232); font-size:80px;">Cineplex</h1>
<header>
  <nav class="navbar navbar-expand-lg" style="background-color: rgb(244, 70, 47);">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item p1">
            <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item p2">
            <a class="nav-link text-white" href="/login">LogIn</a>
          </li>
          <li class="nav-item p3">
            <a class="nav-link text-white" href="/signup">SignUp</a>
          </li>
          <li class="nav-item p3">
            <a class="nav-link text-white" href="/Profile">Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
